 table, th, td {
    border: 1px solid black;
    border-radius: 10px;
    
  }
  table{
    width:50%;
    padding: 50px;
    margin: auto;
    text-align: center;
  }
  th {
    text-align:center;
  }
  td{
    padding: 15px;
  }
  tr:nth-child(even) {
    background-color: rgba(195, 195, 195, 0.4);
}
header {
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
}
select {
    width: 100%;
    padding: 16px 20px;
    border-radius: 4px;
    opacity: 0.0 - 1.0;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(96, 103, 70, 0.4);
  }
select option{
  background-color: rgb(101, 101, 83);
}
input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    opacity: 0.0 - 1.0;
    background-color: transparent;
    font-size: large;
  }
button{
  border: none;
  color: rgb(0, 0, 0);
  padding: 25px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid #000000;
}
.center{
  text-align: center;
  font-size: medium;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 60%;
  padding: 50px;
}
.main {
  float: center;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
::placeholder{
  color: #3a3a3a;
}